@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/** Default Css ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  overflow: hidden;
  position: relative;
  background-color: black;
  color: white;
  font-family: "Centra", sans-serif;
}

/* NAV BAR  */

.nav-btn {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  font-size: 16px;
  background-color: transparent;
}

.logo {
  width: 7rem;
}

/* Banner styles  */
.banner {
  background-color: black;
  color: #fff;
}

.banner-img {
  width: 35rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
